$blue:#1877F2;
$green:#42B72A;
$paragraph-margin-bottom:0;
$gray-600:rgb(245,245,245);

.user-div{
    background-color: white;
}

.message-box{
    height: 500px;
    overflow-y: scroll;
    scrollbar-width: none;
    &::-webkit-scrollbar{
        display: none;
    }
}

.message-input{
    color: rgba(0, 0, 0, .5);
}

.info-text{
    color: rgba(0, 0, 0, .5);
    text-align: center;
    margin-bottom: 1rem;
}

@import "~bootstrap/scss/bootstrap";
